//bootstrap
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//@import "./node_modules/slick-carousel/slick-theme.scss/slick-theme.css";
//@import "./node_modules/slick-carousel/slick.scss/slick.css";
//@import "./node_modules/font-awesome/scss/font-awesome.scss";

.full-width {
  min-height: 50%;
  max-height: 60%;
  max-width: 100%;
  height: 45em;
  width: 100%;
  padding-bottom: 5%;
}

.social-media {
  padding: 0.75em;
}

body {
  height: 100%;
}

a {
  color: inherit;
}

#bot {
  position: absolute;
  bottom: 0;
  right: 0;
}

h1 {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 45px;
  line-height: 50px;
  padding-bottom: 3%;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: initial;
  font-size: 5em;
  line-height: 50px;
  padding-bottom: 3%;
}

h3 {
  font-family: 'Lato', serif;
  font-size: 25px;
  line-height: 40px;
}
h4{
  font-family: 'Lato', serif;
  font-size: 45px;
  line-height: 40px;
  font-weight: 100;

}
h5{
  font-size: 20px;
  font-family: 'Lato', serif;
  padding-bottom: 10px;

}

.row {
  overflow: hidden;
}

[class*="col-"] {
  margin: 0;
  padding: 0;
}

.picture-col {
  height: 100%;
}

.info {
  margin-bottom: -99999px;
  margin-right: 0;
  padding: 25px 25px 99999px 25px;
  height: 100%;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size:1.2em;
}

.footer {
  background-color: black;
  height: 3.5em;
  bottom: 0;
  position: fixed;
  margin-bottom: 0;
  width:100%;
}
.panel-footer{
  padding:0;
  padding-top: 10px;
}

.img-responsive {
  width: 100%;
  height: 40em;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: -20px;
}

.slick-dotted.slick-slider {
  margin-bottom: 20px;
  display: inline-block;
}

.slick-dots {
  bottom: 55px;
}

.slick-slider {
  margin-bottom: 0;
}

.slider.slick-initialized.slick-slider.slick-dotted {
  width: 100%;
}

.navbar-fixed-bottom {
  position: absolute;
}

//login
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;

}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* openwebicons */
[class*="openwebicons-"]:before {
  font-family: 'OpenWeb Icons', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  padding-top: 5%;
  margin: 0 auto;
}

/* PROFILE */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;

}

/* LOGIN */

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-center {
  width: 50%;
  text-align: center;
  margin: inherit;
}

.social-login-btn {
  margin: 5px;
  width: 20%;
  font-size: 150%;
  padding: 0;
}

.social-login-more {
  width: 40%;
}

.social-google {
  background-color: #da573b;
  border-color: #be5238;
}

.social-google:hover {
  background-color: #be5238;
  border-color: #9b4631;
}

.social-twitter {
  background-color: #1daee3;
  border-color: #3997ba;
}

.social-twitter:hover {
  background-color: #3997ba;
  border-color: #347b95;
}

.social-facebook {
  background-color: #4c699e;
  border-color: #47618d;
}

.social-facebook:hover {
  background-color: #47618d;
  border-color: #3c5173;
}

.social-linkedin {
  background-color: #4875B4;
  border-color: #466b99;
}

.social-linkedin:hover {
  background-color: #466b99;
  border-color: #3b5a7c;
}