<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ "BlackTunePlus" }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico')}}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        <style>
            .full-width {
                max-width: 100%;
                min-width: 100%;
                min-height: 50%;
                max-height: 70%;
                height: auto;
                width: auto\9; /* ie8 */
            }
            a{
                color:inherit;
            }
            #bot{
                position:absolute;
                bottom:0;
                right:0;
            }
            h2 {
                font-family: 'Lobster', Georgia, Times, serif;
                font-size: 45px;
                line-height: 50px;
            }
            li{
                font-family: 'Cabin', Helvetica, Arial, sans-serif;
                font-size: 15px;
                line-height: 20px;
            }
        </style>
    {% endblock %}
    {% block canonical_meta %}{% endblock %}
</head>
<body>
<div class="container" style="position:relative;">
    {% block container %}
        {% block header %}
            {% include "::inc/header.html.twig" %}
        {% endblock %}
        {% block body %}{% endblock %}
    {% endblock %}
{% block footer %}
{% include "::inc/footer.html.twig" %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
</body>
</html>