{% extends "::base.html.twig" %}

{% block title %}About page - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container">
    <h1 style="text-align:center">About</h1>
    </div>
{% endblock %}
