{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row" style="height:100%; display: block;">
            <div class="col-lg-5 picture-col">
                <img class="img-responsive" src="{{ asset('images/headphones1.jpg') }}">
            </div>
            <div class="col-lg-7 text-center info" style="background-color: #36454F; color:whitesmoke" >
                <h4>ABOUT</h4>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>

                <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>

            </div>
        </div>
    </div>


{% endblock %}
