{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row" style="height:90%; display: block;">
            <div class="col-lg-5 picture-col">
                <img class="img-responsive" src="{{ asset('images/listening.jpg') }}">
            </div>
            <div class="col-lg-7 text-center info" style="background-color: #808080; color: whitesmoke;">
                <h4>FEATURES</h4>
                <hr>
                <p>
                    <strong>Headphones</strong> are available with a wide range of feature sets to make your listening more convenient,
                useful and pleasurable for your particular listening style.
                </p>
                <p>
                    <strong>Noise Cancelling</strong>: Noise cancelling headphones are designed to prevent you from hearing ambient noise.
                </p>
                <P>
                    <strong>Wireless</strong>:  There are generally two categories of wireless headphones: those designed for use at home (often used for watching TV) and those with
                </P>
                <p>
                    <strong>Bluetooth </strong>wireless (more info below) typically used with portable devices, tablets and smartphones.
                </p>
            </div>
        </div>
    </div>


{% endblock %}
