{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    {{ parent() }}
    <style>
        .full-width {
            max-width: 100%;
            min-width: 100%;
            min-height: 50%;
            max-height: 70%;
            height: auto;
            width: auto\9; /* ie8 */
        }
        a{
            color:inherit;
        }

    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <img class="full-width" src="{{ asset('images/music-life.jpg') }}">
    </div>
{% endblock %}
